body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
	/*color: white;*/
}

nav {
	background-color: #00A6B3;
	display: block-inline;
	padding: 20px;
}

a {
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom-color: white;
}

main {
	width: 850px;
	margin: 35px auto;
}

h1, h2, a {
	font-family: raleway;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}
h1, a, footer {
	color: white;
}

h1{
	font-weight:400;
	font-size: 45px;
}

h2{
	padding: 0px 0px 20px 0px;
	color: #0D2C40;
	font-size: 20px;
	font-weight: 600;
}


div{
	
	letter-spacing: 1px;
	font-weight:600;
	font-size: 20px;
	margin: 15px 0 0 0;	
}

img{
	margin: 40px 8px 0px 8px;
}

p {	
	font-family: "Droid Serif", serif;
	line-height: 24px;
	font-size: 20px;
}

footer {
	background-color: #0D2c40;
	font-size: 14px;
	text-transform: uppercase;	
	padding: 20px 20px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	float: left;
	font-family: raleway;
}
.message {
	float: right;
	font-family: raleway;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
